@{
  ViewData["Title"] = "Grupe";
}

@model IEnumerable<Group>

<h2>
  Grupe
  <a asp-action="Add" class="btn btn-primary btn-sm">Kreiraj novu grupu</a>
</h2>

@if (@ViewData["Success"] != null) {
    <div class="alert alert-success">Grupa kreirana</div>
}
@if (!Model.Any())
{
  <h5 style="color: #778899">Trenutno nema dodanih grupa.</h5>
}

<ul class="list-group">
  @foreach (Group g in Model)
  {
    <li class="list-group-item">
      @g.Name
      <a asp-action="Edit" asp-route-id="@g.Id" class="btn btn-secondary btn-sm">Izmjeni</a>
      <form asp-action="Delete" asp-route-id="@g.Id" method="POST" style="display: inline-block">
        <button type="submit" class="btn btn-danger btn-sm">Obriši</button>
      </form>
      <ul>
        @foreach (GroupUser gu in g.GroupUsers)
        {
          <li>@gu.User.Fullname</li>
        }
      </ul>
    </li>
  }
</ul>