@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Poruke";
}

@model IEnumerable<Message>

<h2>
    Popis poruka
    <a asp-action="Add" class="btn btn-primary btn-sm">Nova poruka</a>
</h2>

@if (@ViewData["Success"] != null)
{
    <div class="alert alert-success">Poruka poslana</div>
}

<ul class="list-group">
    @if (!Model.Any())
    {
        <h5 style="color: #778899">Trenutno nema dodanih poruka.</h5>
    }
    @foreach (var m in Model)
    {
        <a asp-action="Show" asp-route-id="@m.Id" class="Messages__Message card">
            <div class="card-body">
                <h5 class="card-title">@m.GetOtherUser(UserManager.GetUserId(User)).Fullname:</h5>
                <h6 class="card-subtitle mb-2 text-muted">@m.Date.ToString("dd. MMM. yyyy.")</h6>
                <p class="card-text">@m.Content</p>
            </div>
        </a>
    }
</ul>